.dodol{
    font-size: 25px;
    background-color: cadetblue;
}

.balabala{
    font-size: 25px;
    background-color: cornflowerblue;
}

.batagor{
    font-size: 25px;
    background-color: darkorchid;
}

.cireng{
    font-size: 25px;
    background-color: darkgoldenrod;
    
}